## DATASCI W205 - An introduction to Apache	Spark and Spark SQL (Lab 6)

In [1]:
!echo $SPARK_HOME

/usr/lib/spark/

In [2]:
cd /usr/lib/spark/bin

/usr/lib/spark/bin

In [3]:
x = [1,2,3,4,5,6,7,8,9,10]

In [4]:
distdata = sc.parallelize(x)

In [5]:
distdata.count()

10

### Step 2: Load a File	and	Count the Rows

In [6]:
ls

beeline*               pyspark*      spark-shell*   utils.sh*
compute-classpath.sh*  run-example*  spark-sql*
load-spark-env.sh*     spark-class*  spark-submit*

In [13]:
pwd

u'/root/ipython-nbs'

In [7]:
cd /usr/local/

/usr/local

In [2]:
crimefile = sc.textFile("/usr/local/Crimes_-_2001_to_present.csv")

In [3]:
crimefile

/usr/local/Crimes_-_2001_to_present.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:-2

In [16]:
!wc -c Crimes_-_2001_to_present.csv

1376617753 Crimes_-_2001_to_present.csv

In [21]:
crimefile.count()

5862796

In [22]:
crimefile.take(10)

[u'ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location',
 u'10184515,HY372204,08/06/2015 11:55:00 PM,033XX W DIVERSEY AVE,2027,NARCOTICS,POSS: CRACK,STREET,true,false,1412,014,35,22,18,1153440,1918377,2015,08/13/2015 12:57:42 PM,41.931870591,-87.711546895,"(41.931870591, -87.711546895)"',
 u'10184607,HY372206,08/06/2015 11:55:00 PM,035XX S RHODES AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,false,true,0212,002,4,35,08B,1180132,1881331,2015,08/13/2015 12:57:42 PM,41.82964147,-87.614598779,"(41.82964147, -87.614598779)"',
 u'10190430,HY374464,08/06/2015 11:50:00 PM,047XX W HARRISON ST,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,GAS STATION,false,false,1131,011,24,25,04B,1144626,1896881,2015,08/13/2015 12:57:42 PM,41.873054046,-87.744479572,"(41.873054046, -87.744479572)"',
 u'10185476,HY372534,08/06/2015 11:50:00 PM,030XX W FLETCHER ST,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE-GARAGE,false,false,1411,014,33,21,05,1155716,1920830,2015,08/13/2015 12:57:42 PM,41.938556204,-87.703116637,"(41.938556204, -87.703116637)"',
 u'10184561,HY372224,08/06/2015 11:50:00 PM,034XX S RACINE AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),true,false,0913,009,11,60,06,1168866,1881886,2015,08/13/2015 12:57:42 PM,41.831415654,-87.655917306,"(41.831415654, -87.655917306)"',
 u'10184518,HY372189,08/06/2015 11:45:00 PM,038XX S HONORE ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,false,false,0912,009,11,59,14,1164617,1879167,2015,08/13/2015 12:57:42 PM,41.824045312,-87.671584096,"(41.824045312, -87.671584096)"',
 u'10184620,HY372195,08/06/2015 11:45:00 PM,011XX N WELLS ST,0810,THEFT,OVER $500,TAXICAB,false,false,1824,018,43,8,06,1174556,1907722,2015,08/13/2015 12:57:42 PM,41.902186365,-87.634268385,"(41.902186365, -87.634268385)"',
 u'10184573,HY372193,08/06/2015 11:44:00 PM,012XX W 82ND ST,0460,BATTERY,SIMPLE,SIDEWALK,false,false,0613,006,21,71,08B,1169200,1850440,2015,08/13/2015 12:57:42 PM,41.74511691,-87.655601328,"(41.74511691, -87.655601328)"',
 u'10184606,HY372191,08/06/2015 11:40:00 PM,048XX S INDIANA AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,ALLEY,false,true,0224,002,3,38,08B,1178377,1872994,2015,08/13/2015 12:57:42 PM,41.80680416,-87.621291256,"(41.80680416, -87.621291256)"']

### Step 3.	Filter Records and	Structures

In [4]:
def remove_header(itr_index, itr): return iter(list(itr)[1:]) if itr_index == 0 else itr

In [5]:
noHeaderCrimeData2 = crimefile.mapPartitionsWithIndex(remove_header)
##noHeaderCrimeData2.count()

In [6]:
narcoticsCrimes = noHeaderCrimeData2.filter(lambda x: "NARCOTICS" in x)

In [29]:
narcoticsCrimes.count()

663712

In [30]:
narcoticsCrimes.take(20)

[u'10184515,HY372204,08/06/2015 11:55:00 PM,033XX W DIVERSEY AVE,2027,NARCOTICS,POSS: CRACK,STREET,true,false,1412,014,35,22,18,1153440,1918377,2015,08/13/2015 12:57:42 PM,41.931870591,-87.711546895,"(41.931870591, -87.711546895)"',
 u'10184524,HY372200,08/06/2015 11:40:00 PM,002XX W 88TH ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,true,false,0634,006,21,49,18,1175866,1846548,2015,08/13/2015 12:57:42 PM,41.7342901,-87.631292466,"(41.7342901, -87.631292466)"',
 u'10184554,HY372217,08/06/2015 11:38:00 PM,078XX S PAULINA ST,2028,NARCOTICS,POSS: SYNTHETIC DRUGS,STREET,true,false,0611,006,17,71,18,1166342,1852418,2015,08/13/2015 12:57:42 PM,41.750606117,-87.666017303,"(41.750606117, -87.666017303)"',
 u'10184503,HY372179,08/06/2015 11:35:00 PM,019XX N MOZART ST,2022,NARCOTICS,POSS: COCAINE,STREET,true,false,1421,014,35,22,18,1157157,1912657,2015,08/13/2015 12:57:42 PM,41.916099694,-87.698043163,"(41.916099694, -87.698043163)"',
 u'10184527,HY372190,08/06/2015 11:32:00 PM,015XX W HOWARD ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,true,false,2422,024,49,1,18,1164729,1950306,2015,08/13/2015 12:57:42 PM,42.01925275,-87.669151816,"(42.01925275, -87.669151816)"',
 u'10184512,HY372194,08/06/2015 11:30:00 PM,054XX W NORTH AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,VEHICLE NON-COMMERCIAL,true,false,2532,025,37,25,18,1140150,1910150,2015,08/13/2015 12:57:42 PM,41.909548902,-87.760588145,"(41.909548902, -87.760588145)"',
 u'10184523,HY372175,08/06/2015 10:51:00 PM,038XX W NORTH AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,SIDEWALK,true,false,2535,025,30,23,18,1150304,1910396,2015,08/13/2015 12:57:42 PM,41.910031837,-87.723279946,"(41.910031837, -87.723279946)"',
 u'10184476,HY372146,08/06/2015 10:50:00 PM,0000X N KEELER AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,true,false,1115,011,28,26,18,1148430,1899795,2015,08/13/2015 12:57:42 PM,41.880977936,-87.730437982,"(41.880977936, -87.730437982)"',
 u'10184477,HY372136,08/06/2015 10:45:00 PM,053XX W CHICAGO AVE,1821,NARCOTICS,MANU/DEL:CANNABIS 10GM OR LESS,SIDEWALK,true,false,1524,015,37,25,18,1140456,1904773,2015,08/13/2015 12:57:42 PM,41.894788171,-87.759596124,"(41.894788171, -87.759596124)"',
 u'10184468,HY372144,08/06/2015 10:45:00 PM,002XX E 108TH ST,2028,NARCOTICS,POSS: SYNTHETIC DRUGS,STREET,true,false,0513,005,9,49,18,1179863,1833448,2015,08/13/2015 12:57:42 PM,41.698251605,-87.617048656,"(41.698251605, -87.617048656)"',
 u'10184465,HY372127,08/06/2015 10:28:00 PM,079XX S ASHLAND AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,GAS STATION,true,false,0611,006,21,71,18,1167009,1852265,2015,08/13/2015 12:57:42 PM,41.750172042,-87.66357746,"(41.750172042, -87.66357746)"',
 u'10184487,HY372141,08/06/2015 10:01:00 PM,059XX S MICHIGAN AVE,1812,NARCOTICS,POSS: CANNABIS MORE THAN 30GMS,APARTMENT,true,false,0232,002,20,40,18,1178136,1865583,2015,08/13/2015 12:57:42 PM,41.786473155,-87.622399953,"(41.786473155, -87.622399953)"',
 u'10184488,HY372134,08/06/2015 09:56:00 PM,077XX S SANGAMON ST,2024,NARCOTICS,POSS: HEROIN(WHITE),APARTMENT,true,false,0621,006,17,71,18,1171365,1853218,2015,08/13/2015 12:57:42 PM,41.752693042,-87.647587307,"(41.752693042, -87.647587307)"',
 u'10184422,HY372060,08/06/2015 09:30:00 PM,052XX N CANFIELD AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,true,false,1613,016,41,10,18,1122611,1933632,2015,08/13/2015 12:57:42 PM,41.974289808,-87.824508239,"(41.974289808, -87.824508239)"',
 u'10184429,HY372061,08/06/2015 09:30:00 PM,033XX W FLOURNOY ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,SIDEWALK,true,false,1134,011,24,27,18,1154319,1896798,2015,08/13/2015 12:57:42 PM,41.872638297,-87.70889391,"(41.872638297, -87.70889391)"',
 u'10184427,HY372068,08/06/2015 09:18:00 PM,027XX W LE MOYNE ST,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,STREET,true,false,1423,014,26,24,18,1158086,1909904,2015,08/13/2015 12:57:42 PM,41.908526309,-87.694705371,"(41.908526309, -87.694705371)"',
 u'10184388,HY372039,08/06/2015 09:15:00 PM,055XX N NORTHWEST HWY,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,ALLEY,true,false,1622,016,45,11,18,1134995,1936221,2015,08/13/2015 12:57:42 PM,41.981183382,-87.778906209,"(41.981183382, -87.778906209)"',
 u'10184412,HY372034,08/06/2015 08:45:00 PM,028XX S AVERS AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,SIDEWALK,true,false,1031,010,22,30,18,1151215,1884655,2015,08/13/2015 12:57:42 PM,41.839377846,-87.720608322,"(41.839377846, -87.720608322)"',
 u'10184435,HY372066,08/06/2015 08:45:00 PM,046XX S HERMITAGE AVE,1811,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,"SCHOOL, PRIVATE, GROUNDS",true,false,0924,009,20,61,18,1165413,1874130,2015,08/13/2015 12:57:42 PM,41.810206364,-87.668806745,"(41.810206364, -87.668806745)"',
 u'10184509,HY372031,08/06/2015 08:30:00 PM,038XX W LEXINGTON ST,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,true,false,1133,011,24,26,18,1150832,1896381,2015,08/13/2015 12:57:42 PM,41.871562899,-87.721707266,"(41.871562899, -87.721707266)"']

In [7]:
 narcoticsCrimeRecords = narcoticsCrimes.map(lambda r : r.split(","))

In [8]:
narcoticsCrimeRecords.first()

[u'10184515',
 u'HY372204',
 u'08/06/2015 11:55:00 PM',
 u'033XX W DIVERSEY AVE',
 u'2027',
 u'NARCOTICS',
 u'POSS: CRACK',
 u'STREET',
 u'true',
 u'false',
 u'1412',
 u'014',
 u'35',
 u'22',
 u'18',
 u'1153440',
 u'1918377',
 u'2015',
 u'08/13/2015 12:57:42 PM',
 u'41.931870591',
 u'-87.711546895',
 u'"(41.931870591',
 u' -87.711546895)"']

In [12]:
 narcoticsCrimeRecords.count()

663712

### Step 4.	Key Values

In [16]:
##original, keeps the key in the tuple
narcoticsCrimeTuples = narcoticsCrimes.map(lambda x:(x.split(",")[0], x))

##original, exclude the key from second value in the tuple
narcoticsCrimeTuplesfixed = narcoticsCrimes.map(lambda x:(x.split(",")[0],  ', '.join(x.split(",")[1:])))

In [18]:
print narcoticsCrimeTuplesfixed.take(1)

[(u'10184515', u'HY372204, 08/06/2015 11:55:00 PM, 033XX W DIVERSEY AVE, 2027, NARCOTICS, POSS: CRACK, STREET, true, false, 1412, 014, 35, 22, 18, 1153440, 1918377, 2015, 08/13/2015 12:57:42 PM, 41.931870591, -87.711546895, "(41.931870591,  -87.711546895)"')]

In [20]:
firstTuple=narcoticsCrimeTuples.first()

In [21]:
len(firstTuple)

2

In [23]:
firstTuple[1]
##firstTuple[1]

u'10184515,HY372204,08/06/2015 11:55:00 PM,033XX W DIVERSEY AVE,2027,NARCOTICS,POSS: CRACK,STREET,true,false,1412,014,35,22,18,1153440,1918377,2015,08/13/2015 12:57:42 PM,41.931870591,-87.711546895,"(41.931870591, -87.711546895)"'

In [24]:
sorted_tuple = narcoticsCrimeTuplesfixed.sortByKey()

##sorted.first()
##%reset_selective narcoticsCrimeRecords
##narcoticsCrimeRecords.unpersist()

#### Submission 1

In [25]:
sorted_tuple.first()

(u'10000014',
 u'HY189846, 03/18/2015 05:52:00 PM, 107XX S EGGLESTON AVE, 1822, NARCOTICS, MANU/DEL:CANNABIS OVER 10 GMS, RESIDENCE, true, false, 2233, 022, 34, 49, 18, 1175162, 1833372, 2015, 03/25/2015 12:42:30 PM, 41.698149046, -87.634263523, "(41.698149046,  -87.634263523)"')

In [26]:
narcoticsCrimeTuplesfixed.first()

(u'10184515',
 u'HY372204, 08/06/2015 11:55:00 PM, 033XX W DIVERSEY AVE, 2027, NARCOTICS, POSS: CRACK, STREET, true, false, 1412, 014, 35, 22, 18, 1153440, 1918377, 2015, 08/13/2015 12:57:42 PM, 41.931870591, -87.711546895, "(41.931870591,  -87.711546895)"')

In [ ]:
##You could change your code to as I did earlier
narcoticsCrimeTuplesfixed = narcoticsCrimes.map(lambda x:(x.split(",")[0],  ', '.join(x.split(",")[1:])))

#### Attempt to connect to Hive

In [27]:
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)
!which hive
sqlContext.sql("SHOW TABLES") ##not connecte to hive
##probably have to follow steps here https://getblueshift.com/connecting-hive-and-spark-on-aws-in-five-easy-steps/
sqlContext.sql("show databases")

###Step 7 Accessing	Spark SQL in Python Code

In [33]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [34]:
sqlContext = SQLContext(sc)

In [35]:
ls

DATASCI W205 - An introduction to Apache?Spark and Spark SQL - lab 6 - Greg Ceccarelli.ipynb
derby.log
metastore_db/
week6-class.ipynb

In [36]:
ls /usr/local/

Anaconda-2.3.0-Linux-x86_64.sh   derby.log            lib/
Crimes_-_2001_to_present.csv     etc/                 lib64/
Python-2.7.6/                    files/               libexec/
Python-2.7.6.tar.xz              games/               sbin/
bin/                             include/             share/
certificates/                    ipythonpass.txt      src/
cloudera-manager-installer.bin*  kafka_2.10-0.8.2.1/  w205-labs-exercises/

In [37]:
 lines = sc.textFile('/usr/local/w205-labs-exercises/data/weblog_lab.csv')

In [38]:
parts = lines.map(lambda l: l.split('\t'))

In [40]:
Web_Session_Log = parts.map(lambda p: (p[0], p[1],p[2],
p[3],p[4]))

In [41]:
Web_Session_Log

PythonRDD[30] at RDD at PythonRDD.scala:42

In [42]:
Web_Session_Log.first()

(u'date', u'userid', u'sessionid', u'productid', u'refererurl')

In [43]:
 schemaString = 'DATETIME USERID SESSIONID PRODUCTID REFERERURL'

In [44]:
fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]

In [45]:
fields

[StructField(DATETIME,StringType,true),
 StructField(USERID,StringType,true),
 StructField(SESSIONID,StringType,true),
 StructField(PRODUCTID,StringType,true),
 StructField(REFERERURL,StringType,true)]

In [47]:
schema = StructType(fields)

In [48]:
schema

StructType(List(StructField(DATETIME,StringType,true),StructField(USERID,StringType,true),StructField(SESSIONID,StringType,true),StructField(PRODUCTID,StringType,true),StructField(REFERERURL,StringType,true)))

In [50]:
 schemaWebData = sqlContext.createDataFrame(Web_Session_Log, schema)

In [52]:
schemaWebData.registerTempTable('Web_Session_Log')

In [53]:
 results = sqlContext.sql('SELECT count(*) FROM Web_Session_Log')

####Submission 2 & 3

In [59]:
results.head()
results.show()
##sqlContext.sql('SELECT count(*) FROM Web_Session_Log')

c0
40002

In [60]:
 resultsEbay = sqlContext.sql('select count(*) from Web_Session_Log where REFERERURL = "http://www.ebay.com"')

In [61]:
resultsEbay.show()

c0
3943